<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wallet.title %>
</p>
<p>
  <strong>Money:</strong>
  <%= @wallet.pennies %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
